.slogan{
    max-width: 750px;
    height:120px;
    margin-left: 50px;
    position:relative;
    top:150px;

}
.text1{
  
    margin-left: 140px;
    background-color: wheat;
    margin-bottom: 50px;
}
.background{
    background-image: url('../../assets/hero_banner_top.jpg');
    background-size:cover ;
    background-position: top;
    position: relative;
    height: calc(100vh);
   
    background-repeat: no-repeat;
}

.search{
    background-color: white;
    width: 900px;
    z-index: 1;
    position: relative;
    margin-top: 200px;
    margin-left:50px;
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
    border-radius: 2px;
}





.full{
    position: relative;
    min-height: calc(-235px + 100vh);
    background-color: aqua;
}
.tab_title{
    list-style-position: initial;
    padding: 0;
    margin: 0;
    display: flex;
    
}
.searchbar{
    width: 700px;
}
.kind{
    color: #273896;
    border-color: #273896 ;

}
.kind2{
    color:#6e787c;
    
}
.button1{
    background-color: #273896;
}
.hashtag{
    color: #273896;
}